section.end 
    .container 
        .end-box 
            .end-box__first
                .end-box__first__logo
                    img.end-logo(src='../images/dash-logo.png')
                .end-box__first__adress 14555 Dallas Pkwy. Suite 100-334, Dallas, TX 75254
                .end-box__first__date © 2022 XSQRD, Inc d/b/a SquareDash. All rights reserved.
                .end-box__first__pages
                    a(href='#').end-box__first__pages-1 Design + Development
                    a(href='#').end-box__first__pages-2 Composite

            .end-box__second
                button.end-box__second__demo Schedule a demo
                button.end-box__second__login Login