section.circle 
    .container 
        .circle-first 
            .circle-first__title Track and receive payments, all in one place.
        .circle-second 
            .circle-second__text Get your money out of limbo and into your business. Conveniently manage and collect your funds with Squaredash.
                .circle-img 
                    img(src='../images/circle.png')
                    .circle-items
                        .circle-item01.circle-block
                            .circle-item__number 01
                            .circle-item__text Send estimates to insurance adjusters
                        .circle-item02.circle-block
                            .circle-item__number 02
                            .circle-item__text Get funded when your work starts
                        .circle-item03.circle-block
                            .circle-item__number 03
                            .circle-item__text Get paid for partial invoice completion
                        .circle-item04.circle-block
                            .circle-item__number 04
                            .circle-item__text Get paid in full when your work is complete
                        .circle-item05.circle-block
                            .circle-item__number 05
                            .circle-item__text Let us automate your collections process
                        .circle-item__main
                            .circle-item__main-first
                                .circle-item__main-first__img
                                    img(src='../images/uphome.png')
                                .circle-item__main-first__title
                                    .circle-item__main-first__title-name Houston
                                    .circle-item__main-first__title-info 243 Atlanta Ave, Houston TX
                            .circle-item__main-second
