.circle
    background-color: #F5F0E8
    position: relative
    text-align: center
    .container
        background-color: #F5F0E8
        .circle-first
            .circle-first__title
                font-size: 45px
                padding-top: 83px

        .circle-second
            background-color: #F5F0E8
            font-size: 19px
            position: relative

            .circle-second__text
                font-size: 18px
                padding-top: 26px
                
                .circle-img
                    background-color: #F5F0E8
                    z-index: -1
                    max-width: 1140px
                    max-height: 998px
                    margin: 0 auto
                    .circle-items
                        display: flex

                        .circle-block
                            display: flex
                            position: absolute
                            max-width: 346px
                            max-height: 86px
                            border-radius: 15px
                            background-color: #fff
                            padding: 15px
                            .circle-item__number
                                color: #FF9800
                                padding: 18px
                                background-color: #F5F0E8
                                border-radius: 10px
                            .circle-item__text
                                text-align: left
                                padding-left: 21px
                                align-items: center
                                display: flex

                        .circle-item01
                            max-width: 326px
                            top: 125px
                            left: 0
                            right: 0
                            margin: 0 auto

                        .circle-item02
                            right: 18px
                            top: 0
                            bottom: 0
                            margin: auto 0

                        .circle-item03
                            right: 169px
                            bottom: 150px

                        .circle-item04
                            left: 169px
                            bottom: 150px

                        .circle-item05
                            left: 18px
                            top: 0
                            bottom: 0
                            margin: auto 0
                        .circle-item__main
                            border: 10px solid #303F9F
                            border-radius: 15px
                            padding: 32px 15px
                            background-color: #fff
                            position: absolute
                            display: flex
                            top: calc(50% - 155px)
                            left: calc(50% - 160px)

                            .circle-item__main-first
                                display: flex
                                max-height: 64px

                                .circle-item__main-first__img
                                    max-width: 64px
                                    max-height: 64px             
                                .circle-item__main-first__title
                                    padding-left: 16px
                                    display: flex
                                    flex-direction: column
                                    justify-content: center
                                    text-align: left
                                    .circle-item__main-first__title-name
                                        font-size: 21px
                                    .circle-item__main-first__title-info
                                        font-size: 14px
                            .circle-item__main-second
                                height: 295px