section.circle 
    .container 
        .circle-title 
            .circle-title__first Track and receive payments, all in one place.
            .circle-title__second Get your money out of limbo and into your business. Conveniently manage and collect your funds with Squaredash.
        .circle-main
            img.circle-img(src='../images/circle.png')
            .circle-main-first
                .circle-main-first-up
                    .circle-main-first__img
                        img(src='../images/uphome.png')
                    .circle-main-first__title 
                        .circle-main-first__title__name Houston
                        .circle-main-first__title__text 243 Atlanta Ave, Houston TX
                .circle-main-first__down
            .circle-main-seconds
                .circle-main-second.circle-main-second1
                    .circle-main-second__num 01
                    .circle-main-second__text Send estimates to insurance adjusters
                .circle-main-second.circle-main-second2
                    .circle-main-second__num 02
                    .circle-main-second__text Get funded when your work starts
                .circle-main-second.circle-main-second3
                    .circle-main-second__num 03
                    .circle-main-second__text Get paid for partial invoice completion
                .circle-main-second.circle-main-second4
                    .circle-main-second__num 04
                    .circle-main-second__text Get paid in full when your work is complete
                .circle-main-second.circle-main-second5
                    .circle-main-second__num 05
                    .circle-main-second__text Let us automate your collections process