section.roofers 
    .container 
        .roofers-first
            .roofers-first__title Features built for roofers, by roofers
            .roofers-first__text The first payment software tailored to the roofing industry.
        .roofers-second
            .roofers-second__inner
                .roofers-second__inner__img
                    <img src="../sprite.svg#roofers-icon1" class="svg-roofers-icon1-dims" alt="roofers-icon1">
                .roofers-second__inner__title Financial Reporting
                .roofers-second__inner__text We help track of your financial details and keep you regularly updated.
            .roofers-second__inner
                .roofers-second__inner__img
                    <img src="../sprite.svg#roofers-icon1" class="svg-roofers-icon1-dims" alt="roofers-icon1">
                .roofers-second__inner__title Audit Logs
                .roofers-second__inner__text Keep detailed records of your digital finances, all in one place.
            .roofers-second__inner
                .roofers-second__inner__img
                    <img src="../sprite.svg#roofers-icon2" class="svg-roofers-icon2-dims" alt="roofers-icon2">
                .roofers-second__inner__title Predictable Revenue
                .roofers-second__inner__text Get paid on your schedule, not your adjusters'.
            .roofers-second__inner
                .roofers-second__inner__img
                    <img src="../sprite.svg#roofers-icon3" class="svg-roofers-icon3-dims" alt="roofers-icon3">
                .roofers-second__inner__title Custom Notifications
                .roofers-second__inner__text Make your own templates for communications with adjusters.