.roofers
    background-color: #F5F0E8

.roofers-first
    text-align: left
    padding-top: 124px

    &__title
        font-size: 45px
        padding-bottom: 26px
    &__text
        font-size: 18px
        padding-bottom: 41px

.roofers-second
    display: grid
    grid-template-columns: repeat(4, 1fr)
    .roofers-second__inner
