section.hero
    .main-bg
        img(src='../images/hero-bg1.png')
        .second-bg
            img(src='../images/hero-bg2.png')
    .container
        .menu 
            .demo__btn 
                a#demo Schedule a demo
            .login__btn
                a#login Login
        .hero-main
            .hero-main__box 
                .hero-main__box-title
                    .hero-main__box-title1 Less time chasing checks.
                    .hero-main__box-title2 More time on the job.
                .hero-main__box-text The all-in-one financial software built for roofers, by roofers.
                .hero-main__box-btn
                    .hero-main__box-btn__demo
                        a#demo Schedule a demo!
                    .hero-main__box-btn__login
                        a#login Login
                .hero-main__box-sponsors__title Compatible with most accepted insurance companies
                .hero-main__box-sponsors__logo
                    .hero-main__box-sponsors__logo-column
                        .hero-main__box-sponsors__logo1.logo-spons
                            img(src='../images/1usaa.png')
                        .hero-main__box-sponsors__logo5.logo-spons
                            img(src='../images/2seleco.png')
                    .hero-main__box-sponsors__logo-column
                        .hero-main__box-sponsors__logo2.logo-spons
                            img(src='../images/3liberty.png')
                        .hero-main__box-sponsors__logo6.logo-spons
                            img(src='../images/4statefarm.png')
                    .hero-main__box-sponsors__logo-column
                        .hero-main__box-sponsors__logo3.logo-spons
                            img(src='../images/5farmers.png')
                        .hero-main__box-sponsors__logo7.logo-spons
                            img(src='../images/6travelers.png')
                    .hero-main__box-sponsors__logo-column
                        .hero-main__box-sponsors__logo4.logo-spons
                            img(src='../images/7club.png')
                        .hero-main__box-sponsors__logo8.logo-spons
                            img(src='../images/8alistate.png')
        .hero-img 
            img(src='../images/hero-photo.png')