section.finances
    .container 
        .finances-box
            .finances-box-first
                .finances-box-first__title If your finances are streamlined, your business will follow.
                .finances-box-first__results
                    .finances-box-first__results__title Our results
                    .finances-box-first__results__inner.slash <span>1/3</span> Overhead costs
                    .finances-box-first__results__inner <span>5x</span> Faster sales cycle
                    .finances-box-first__results__inner <span>30x</span> Paid 30 times faster

            .finances-box-second
                .finances-box-second__text "SquareDash has allowed us to streamline our entire accounting and collection process so that we have a predictable revenue timeline and no longer play the guessing game of when we’ll be paid on insurance claims. No more waiting on mortgage companies. No more driving around collecting checks. We just do the work and we get paid."
                .finances-box-second__akk
                    .finances-box-second__akk__img
                        img(src='../images/face.png')
                    .finances-box-second__akk__name Mike O.