include ../components/head 

body
    include ../blocks/hero/hero
    include ../blocks/circle/circle
    include ../blocks/paid/paid
    include ../blocks/paid-green/paid-green
    include ../blocks/paid-orange/paid-orange
    include ../blocks/roofers/roofers
    include ../blocks/finances/finances
    include ../blocks/pricing/pricing
    include ../blocks/started/started
    include ../blocks/end/end

include ../components/footer 