include ../components/header 

body
    include ../blocks/hero/hero
    //- include ../blocks/circle/circle
    //- include ../blocks/circle2/circle2
    include ../blocks/paid/paid
    include ../blocks/paid-green/paid-green
    include ../blocks/paid-orange/paid-orange


include ../components/footer 