include ../components/head 

body
    include ../blocks/hero/hero
    include ../blocks/circle/circle
    include ../blocks/paid/paid
    include ../blocks/paid-green/paid-green
    include ../blocks/paid-orange/paid-orange


include ../components/footer 