section.paid-orange 
    .container 
        .paid-box
            .paid-first.paid-first__orange
                .paid-first__title Automate your collections process
                .paid-first__items 
                    .paid-first__item.paid-first__item1
                        .paid-first__item-number 01
                        .paid-first__item-inf
                            .paid-first__item-inf-title Automate follow-ups with adjusters
                            .paid-first__item-inf-text Regularly-scheduled follow-ups on a timeline of your choosing
                    .paid-first__item.paid-first__item2
                        .paid-first__item-number 02
                        .paid-first__item-inf
                            .paid-first__item-inf-title Real-time balance calculations
                            .paid-first__item-inf-text Streamlined accounting process takes care of administrative headaches.
                    .paid-first__item.paid-first__item3
                        .paid-first__item-number 03
                        .paid-first__item-inf
                            .paid-first__item-inf-title Easily edit and attach documents
                            .paid-first__item-inf-text Conveniently attach supporting documentation
                
            .paid-second 
                .paid-second__src
                    img(src='../images/roof3.png')