section.pricing
    .container 
        .pricing-title Pricing Plans
        .pricing-text Only pay for what you need with scaling plans you can grow with.
        .pricing-num Save 20% by paying annually
        .pricing-btns            
            button.pricing-btn1 Annual       
            button.pricing-btn2 Monthly      
