section.pricing
    .container 
        .pricing-title Pricing Plans
        .pricing-text Only pay for what you need with scaling plans you can grow with.
        .pricing-num Save 20% by paying annually
        .pricing-btns            
            button.pricing-btn1.pricing-btn#annual Annual       
            button.pricing-btn2.pricing-btn#monthly Monthly      
        .pricing-slider 
            .pricing-slider__item
                .pricing-slider__item__name Starter
                .pricing-slider__item__price <span>$79</span> /month
                .pricing-slider__item__percent 5.95% per funding advance
                ul.pricing-slider__item__bonus
                    li Up to 10 claims
                    li 5GB of photo storage
                    li Includes 3 users
                button.pricing-slider__item__btn Get Started
            .pricing-slider__item
                .pricing-slider__item__name Growth
                .pricing-slider__item__price <span>$159</span> /month
                .pricing-slider__item__percent 5.50% per funding advance
                ul.pricing-slider__item__bonus
                    li Up to 50 claims
                    li 25GB of photo storage
                    li Includes 10 users
                button.pricing-slider__item__btn Get Started
            .pricing-slider__item
                .pricing-slider__item__name Professional
                .pricing-slider__item__price <span>$239</span> /month
                .pricing-slider__item__percent 4.95% per funding advance
                ul.pricing-slider__item__bonus
                    li Unlimited Claims
                    li Unlimited storage
                    li Unlimited Users
                button.pricing-slider__item__btn Get Started
            .pricing-slider__item
                .pricing-slider__item__name Enterprise
                .pricing-slider__item__price <span>Custom</span>
                .pricing-slider__item__percent Call for volume discounts
                ul.pricing-slider__item__bonus
                    li Unlimited Claims
                    li Cloud Hosting
                    li Dedicated Support
                button.pricing-slider__item__btn Get Started