.paid
    background-color: #2B2E44
    border-radius: 20px 20px 0px 0px

.paid-box
    color: #fff
    padding: 64px 32px 96px 32px
    display: flex
    justify-content: space-between
    max-width: 1140px
    margin: 0 auto

    .paid-first
        &__title
            font-size: 38px
            line-height: 46.08px
            max-width: 460px
            padding-top: 83px
            padding-left: 32px
        &__items
            padding-top: 148px
            display: flex
            flex-direction: column
            gap: 39px

.paid-first__item
    max-width: 400px

    &-number
        width: 64px
        height: 64px
        display: flex
        position: absolute
        color: #FF9800
        padding: 18px
        background-color: #F5F0E8
        border-radius: 10px
        justify-content: center
        align-items: center
        font-size: 17px

    &-inf
        display: flex
        flex-direction: column
        gap: 10px
        padding-left: 88px

        &-title
            line-height: 26.88px
            font-size: 22px
            
        &-text
            font-size: 18px
            color: #FFFFFFB3
            line-height: 22.88px