section.paid 
    .container 
        .paid-box
            .paid-first
                .paid-first__title Get paid for the work you do, as you’re doing it.
                .paid-first__items 
                    .paid-first__item.paid-first__item1
                        .paid-first__item-number 01
                        .paid-first__item-inf
                            .paid-first__item-inf-title Get paid instantly with claim funding
                            .paid-first__item-inf-text Funding services tailored for insurance claims.
                    .paid-first__item.paid-first__item2
                        .paid-first__item-number 02
                        .paid-first__item-inf
                            .paid-first__item-inf-title Invoice for partial job completion
                            .paid-first__item-inf-text Payment for one step before you move on to the next.
                    .paid-first__item.paid-first__item3
                        .paid-first__item-number 03
                        .paid-first__item-inf
                            .paid-first__item-inf-title Save time by collecting payments online
                            .paid-first__item-inf-text No time wasted mailing checks or traveling to pick them up.
                
            .paid-second 
                .paid-second__src
                    img(src='../images/roof.png')