section.started
    .container 
        .started-box
            .started-box__title Get started with the future of roofing
            .started-box__text Free the construction industry from tied-up funds and slowed-down build times.
            .started-box__btns
                button.started-box__btn1.started__btn Schedule a demo
                button.started-box__btn2.started__btn Login