section.paid-green 
    .container 
        .paid-box
            .paid-first
                .paid-first__title Positive cashflow means positive attitudes.
                .paid-first__items 
                    .paid-first__item.paid-first__item1
                        .paid-first__item-number 01
                        .paid-first__item-inf
                            .paid-first__item-inf-title No more stressing over late payments
                            .paid-first__item-inf-text Quicker turnaround time with digital insurance claims.
                    .paid-first__item.paid-first__item2
                        .paid-first__item-number 02
                        .paid-first__item-inf
                            .paid-first__item-inf-title Pay vendors and employees in real-time
                            .paid-first__item-inf-text Keep yourself, your workers, and your vendors happy.
                    .paid-first__item.paid-first__item3
                        .paid-first__item-number 03
                        .paid-first__item-inf
                            .paid-first__item-inf-title Rely on predictable revenue
                            .paid-first__item-inf-text Know your financial future to schedule accordingly.
                
            .paid-second 
                .paid-second__src
                    img(src='../images/roof2.png')